/* =====================
   APP LAYOUT
===================== */

html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
  width: 100%;
}
